body {
    width: 100%;
    height: 100%;
}

/*Header*/
#header{
	float: left;
	display: inline;
	width: 100%;
    height: 100%;
}
.header-inner{	
	display: inline;
	position: relative;
	float: left;	
	width: 100%;
}
.header-inner>img{
	width: 100%;
}

.header-overlay{
	background-color: rgba(231, 76, 60, 0.70);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}
.header-content {
	float: left;
	width: 100%;
	height: 100%;
	padding: 140px;
	text-align: center;
}
.header-content h2 {
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 80px;
    margin-top: 100px;
}
.header-content h2 span {
	font-weight: normal;
	line-height: 93px;
}
.header-btn-area{
	margin-top: 90px;
	float: left;
	display: inline;
	width: 100%;
	text-align: center;
}
.header-btn-area a{
	margin: 0px 15px;
}
.learnMore-btn{
	border: 2px solid #fff;
	border-radius: 2px;
	color: #fff;	
	font-size: 20px;	
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	padding: 25px 28px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.startApp-btn{
	border: 2px solid #fff;
	border-radius: 4px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	padding: 25px 28px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.learnMore-btn:hover,
.learnMore-btn:focus,
.startApp-btn:hover,
.startApp-btn:focus{
	color: #fff;
	text-decoration: none;
	outline: none;

}


.header-content h2 span {
  color: red;
}
.learnMore-btn:hover,
.learnMore-btn:focus,
.startApp-btn:hover,
.startApp-btn:focus{
  color: black;
  background-color: white;
  border-color: white;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 20;
    }
}

/*
.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}
*/
/*
.main-nav li a:hover{
  color: #ee4532;
} 
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e74c3c;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e74c3c;
}

/**/

#menu-area{
	float: left;
	display: inline;
	width: 100%;
}
.main-navbar {
	background: #fff none repeat scroll 0 0;
	border-radius: 0;
	border-bottom: 1px solid #e7e7e7;  
	border-right: medium none;
	height: 100px;
	margin-bottom: 0;
	-webkit-box-shadow: 0px 2px 4px 0px #f3f3f3;
	-moz-box-shadow: 0px 2px 4px 0px #f3f3f3;
	box-shadow: 0px 2px 4px 0px #f3f3f3;
}
.navbar-fixed-top{
    background-color:  rgba(255, 253, 255, 0.8);
	height: 80px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.logo {
	height: 100px;  
	width: 85px;
	margin-right: 45px;
	margin-top: -1px;
	padding: 0;
}
.logo-compressed {
	height: 80px;  
	width: 70px;
}
.logo img {
	height: 100%;
	width: 100%;
}/*
#navbar {
	float: left;
	width: 83%;
}
.main-nav {
	display: inline-block;
	text-align: right;
	width: 100%;
}
.main-nav li {
	display: inline-block;
	float: none;
}
.main-nav li a {
	color: #636363;
	font-size: 15px;
	padding: 39px 20px;
	text-transform: uppercase;
}
.less-padding{
	padding: 30px 20px !important;
}

.navbar-default .navbar-nav > li > a {
  color: #636363;
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}*/


/**/

body,html{
  	overflow-x:hidden;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	overflow-x: hidden !important;
	color: #838282;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{ 
	text-decoration: none;
	color: #2f2f2f;  
}
a:focus{
	outline: none;
	text-decoration: none;
}
h1,h2,h3,{
	font-family: 'Raleway', sans-serif;
}
h2 {
	color: #fff;  
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	margin: 0%;
	padding-bottom: 10px;  
}
img{
 border:none;
}

/*Navbar*/

/*About Us*/
#about{
	background-color: #fff;
	padding: 70px 0;
	float: left;
	display: inline;
	width: 100%;	
}
.about-area{
	float: left;
	display: inline;
	width: 100%;	
}
.title-area {
	display: inline;
	float: left;
	padding: 0 172px;
	position: relative;
	text-align: center;
	width: 100%;
}
.tittle {
	color: #3a3a3a;
	font-size: 40px;
	margin-bottom: 0;
	padding-bottom: 18px;
}
.tittle-line {
	background-color: #898989;
	display: inline-block;
	height: 3px;
	margin-bottom: 16px;
	width: 60px;
}
.about-content{
	float: left;
	display: inline;
	width: 100%;
	margin-top: 50px;
}
.wc-table{
	display: inline-block;
	text-align: center;
}
.wc-table li {  
	float: left;
	width: 25%;
}
.single-wc-content{
	float: left;
	display: inline;
	width: 100%;
}
.single-wc-content span {
	border-radius: 100%;
	display: inline-block;
	font-size: 35px;
	height: 117px;
	line-height: 117px;
	text-align: center;
	width: 117px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.single-wc-content .wc-tittle{
	color: #525252;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px solid #bbbbbb;
	margin-top: 32px;
	padding-bottom: 17px;	
}
.single-wc-content p {
	color: #7d7d7d;
	font-size: 15px;
	padding: 12px;
}
.single-wc-content:hover .wc-icon{
	color: #fff;
}
.single-wc-content:hover .wc-tittle{
	padding-bottom: 16px;	
}
.about-area {
	display: inline;
	float: left;
	margin-top: 45px;
	margin-bottom: 25px;
	width: 100%;
}
.about-left {
	display: inline;
	float: left;
	height: 420px;
	position: relative;
	width: 445px;
}
.about-left img {
	left: 23px;
	position: absolute;
	top: 23px;
}
.introduction-btn {
	color: #f9fffd;
	display: inline-block;
	font-size: 25px;
	left: 36%;
	padding: 18px 16px;
	position: absolute;
	text-decoration: none;
	top: 50%;
}
.introduction-btn:hover,
.introduction-btn:focus{
	color: #f9fffd;
	text-decoration: none;
	outline: none;
}
.about-right {
	display: inline;
	float: left;
	padding-left: 85px;
	padding-top: 20px;
	width: 100%;
}
.about-right .title-area{
	text-align: left;
	padding: 0px;
}
.about-right .tittle{
	padding-bottom: 47px;
}
.about-right .tittle-line {
	height: 2px;
	margin-bottom: 35px;
	width: 100px;
}
.about-right p {
	color: #535353;
	font-family: "Raleway",sans-serif;
	margin-bottom: 32px;
}
.about-btn-area{
	float: left;
	display: inline;
	margin-top: 14px;
	width: 100%;
}
.button {
	float: left;	
	display: block;
	margin: 1em;	
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}
.button-default {
	text-decoration: none;
	border-radius: 2px;
	overflow: hidden;
	font-weight: 600;
	font-size: 15px;
	padding: 0;
	-webkit-transition: border-color 0.3s, background-color 0.3s;
	transition: border-color 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-default::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	color: #3f51b5;
	-webkit-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
}
.button-default > span {
	display: block;
}
.button-default:after {
	color: #fff;
}
.button-default::after,
.button-default > span {
	padding: 12px 21px;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-default:hover {
	background-color: rgba(63, 81, 181, 0.1);
	text-decoration: none;
}
.button-default:hover,
.button-default:focus {
	color: #fff !important;
}
.button-default:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button-default:hover > span {
	opacity: 0;
	-webkit-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
}

/**/

#call-to-action{
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}
.call-to-overlay{
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.call-to-content {
	display: inline;
	float: left;
	padding: 60px 0;
	text-align: center;
	width: 100%;
}
.call-to-content h2{
	color: #fff7f7;
	font-size: 45px;
}
.call-to-content a {
	display: inline-block;
	float: none;
	margin-top: 29px;
}


/*Services*/
#service{
	background-color: #F6F6F6;
	float: left;
	display: inline;
	padding: 70px 0;
	width: 100%;
}
.service_area{
	display: inline;
	float: left;
	width: 100%;
}
.service-content{
	display: inline;
	margin-top: 45px;
	float: left;
	width: 100%;
}
.service-table{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.single-service {
	display: inline;
	float: left;
	margin-bottom: 15px;
	padding: 45px 20px;
	position: relative;
	text-align: left;
	width: 100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.single-service:after{
	content: '';
	position: absolute;
	left: 0;
	opacity: 0;
	bottom: 0;
	height: 24px;
	width: 100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.single-service:hover:after{
	opacity: 1;
}
.single-service:hover{
	background-color: #fff;
}
.single-service .service-icon{
	color: #bdbdbd;
	font-size: 55px;
	margin-bottom: 10px;
}
.single-service .service-title {
	color: #343333;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 30px;
}
.single-service p{
	color: #878787;
}

/*Footer*/
#footer{
	background-color: #242424;
	display: inline;
	float: left;
	margin-top: -6px;
	width: 100%;
}
.footer-top {
	display: inline;
	float: left;  
	width: 100%;
}
.footer-top-area{
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}
.footer-logo{
	display: inline-block;
}


/*Media queries*/
@media(max-width:1199px ){
	.header-content {  
      padding: 70px;  
	}
	.header-content h2 {
	  font-size: 60px;
	  line-height: 58px;  
	}
	.learnMore-btn {  
	  font-size: 18px;  
	  padding: 20px 25px;	  
	}
	.startApp-btn {  
	  font-size: 18px;  
	  padding: 20px 25px;	  
	}
	.header-btn-area {
	  margin-top: 65px;  
	}
	.logo {
	  margin-right: 0;	  
	}/*
	#navbar {
	  width: 87%;
	}
	.main-nav li a {  
	  padding: 39px 16px;  
	}
	.single-service {
	  padding: 45px 15px;  
	}
	.single-service .service-title {	  
	  font-size: 20px;	  
	}*/
}


@media(max-width:991px ){
	.header-content {  
      padding: 50px;  
	}
	.header-content h2 {
	  font-size: 50px;
	  line-height: 50px;  
	}
	.learnMore-btn {  
	  font-size: 16px;  
	  padding: 18px 20px;	  
	}
	.startApp-btn {  
	  font-size: 16px;  
	  padding: 18px 20px;	  
	}
	.header-btn-area {
	  margin-top: 20px;
	}/*
	#navbar {
	  width: 86%;
	}
	.main-nav li a {
	  font-size: 14px;
	  padding: 39px 7px;
	}*/
	.less-padding {
	  padding: 30px 7px !important;
	}
	.single-wc-content .wc-tittle {
	  font-size: 15px;	  
	}
	.about-left {  
	  height: 328px;  
	  width: 100%;
	}
	.about-left img {
	  width: 100%;
	}
	.about-right .tittle {
	  padding-bottom: 10px;
	  font-size: 28px;
	}
	.about-right .tittle-line {
	  margin-bottom: 15px;	 
	}
	.about-right p {
	  font-size: 14px;
	  margin-bottom: 6px;
	}
	.about-btn-area {
	  margin-top: 0;	 
	}
	.call-to-content h2 {  
	  font-size: 30px;
	}
	
	.title-area {
	  padding: 0 100px;  
	}
	
}


@media(max-width:767px ){
	.header-content h2 {
	  font-size: 35px;
	  line-height: 35px;
	}
	.header-content h2 span {
	  font-weight: normal;
	  line-height: 55px;
	}
	.learnMore-btn {
	  font-size: 15px;
	  padding: 15px 18px;
	}
	.startApp-btn {
	  font-size: 15px;
	  padding: 15px 18px;
	}/*
	.main-nav li {
	  display: block;
	  float: left;
	  width: 100%;
	}
	.main-nav li a {
	  display: block; 
	  padding: 8px 7px;
	}*/
	.less-padding {
	  padding: 8px 7px !important;
	}
    
    /*
	#navbar {
	  margin-right: 0;
	  width: 104.5%;
	}
	.main-nav {
	  background: #ccc none repeat scroll 0 0;
	  display: block;
	  margin: 0;
	  text-align: center;
	  width: 100%;
	}
	.navbar-default .navbar-toggle {
	  border-color: #ddd;
	  margin-right: 78px;
	  margin-top: 32px;
	  border-radius: 0;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		background-color: #00d999;
		border-color: #00d999;
		color: #fff;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar{
		background-color: #fff;
		
	}*/

	
	.wc-table li {
	  margin-bottom: 20px;
	  width: 50%;
	}
	#about {
	  padding: 20 0 50px;		
	}
	.about-left { 
	  width: 90%;
	}
	.about-left img {
	  height: 100%;
	  width: 100%;
	}
	.about-right {
	  margin-top: 35px;
	  padding-left: 0;  
	}
	.title-area {
	  padding: 0 50px;
	}
	.call-to-content h2 {
	  font-size: 28px;
	}
	.button-default::after, .button-default > span {
	  padding: 12px 8px;
	  font-size: 12px;
	}
}

@media(max-width:480px ){
	.header-content {
	  padding: 20px;
	}
	.header-content h2 {
	  font-size: 25px;
	  line-height: 25px;
	}
	.header-content h2 span {
	  font-weight: normal;
	  line-height: 43px;
	}
	.learnMore-btn {
	  font-size: 14px;
	  padding: 10px 15px;
	}
	.startApp-btn {
	  font-size: 14px;
	  padding: 10px 15px;
	}/*
	#navbar {
	  width: 106%;
	}*/
	.title-area {
	  padding: 0 15px;
	}
	.call-to-content h2 {
	  font-size: 20px;
	}
	.button-default::after, .button-default > span {
	  font-size: 10px;	
	}
}


@media(max-width:360px ){
	.header-inner > img {
	  height: 250px;
	  width: 100%;
        
	}
	.header-content {
	  padding: 30px;
	}
	.header-content h2 {
	  font-size: 20px;
	  line-height: 18px;
	}
	.header-content h2 span {
	  font-weight: normal;
	  line-height: 35px;
	}
	.header-btn-area {
	  margin-top: 00px;
	}

	.header-btn-area a {
	  display: block;
	  margin: 10px 15px;
	}
	.learnMore-btn {
	  font-size: 14px;
	  padding: 7px 8px;	  
	}
	.startApp-btn {
	  font-size: 14px;
	  padding: 7px 8px;	  
	}
/*
	#navbar {
	  width: 108.3%;
	}
*/
	.title-area {
	  padding: 0 10px;
	}
	.tittle {  
	  font-size: 20px;  
	  padding-bottom: 5px;
	}
	.title-area p{
		font-size: 14px;
	}
	.wc-table li {
	  margin-bottom: 20px;
	  width: 100%;
	}
	.about-right {
	  margin-top: 45px;	 
	}
	.about-right .tittle {
	  font-size: 20px;
	  padding-bottom: 5px;
	}
	.about-right .tittle-line {
	  width: 60px;
	}
	.call-to-content h2 {
	  font-size: 20px;
	}		
	.button-default::after, .button-default > span {
	  font-size: 14px;	
	}
	.introduction-btn {  
	  font-size: 20px;	  
	}
	.header-content h2 {  
	  margin-bottom: 10px;
	}
}


@media(max-width:320px ){
	#navbar {
	  width: 100%;
	}
	.footer-bottom p {
	  font-size: 15px;	
	}
}

/*Sections*/
#services {
  background-color: #e74c3c;
  color: #ffffff;
  margin-left:auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: -79px;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

hr {
    display: none;
}

/*Footer*/
.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}